<div *ngIf='!isLoading; else loader' class='page-wrapper'>
  <section class='section-wrapper' *ngIf='user'>
    <!-- TODO: extract to reusable component -->
    <h1 class='heading'>{{ greeting }}</h1>
    <app-deck-list [decks]='user.decks'></app-deck-list>
  </section>
  <mat-divider></mat-divider>
  <section class='section-wrapper'>
    <app-word-of-the-day [word]="randomWord" (getNewWord)="handleGetNewWord()"></app-word-of-the-day>
  </section>
</div>

<ng-template #loader>
  <section class='center full-height'>
    <app-loader></app-loader>
  </section>
</ng-template>