.page-wrapper {
  width: 80%;
  margin: 0 auto;
}

.section-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 2em;
  padding: 30px 0;
}

.heading {
  font-weight: 300;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}
