<aside id='main-aside'>
  <h1>Spelling B 🐝</h1>

  <mat-list>
    <mat-list-item>Dashboard</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Play</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Add</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Stats</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Settings</mat-list-item>
  </mat-list>
</aside>

<!-- <button mat-raised-button (click)="handleSideBarClick()">Toggle drawer</button> -->